@model IEnumerable<ConectaCafe.Models.Categoria>
@{
    ViewData["Title"] = "Categorias";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<h1>Categorias</h1>
<p>
    <a asp-action="Create" class="btn btn-primary my-2">Adicionar</a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
